.jumbotron {
    background: -webkit-linear-gradient(rgba(255,255,255,1),rgba(255,255,255,1), rgba(255,255,255,0.8), rgba(255,255,255,0));
    background-size: cover;
    margin-bottom: 50px;
    padding-top: 60px;
    z-index: 0;
}

.ie .jumbotron {
  background: url('../img/jumbobg.png');
  background-repeat: repeat-x;
}

.jumbotron-center {
  text-align: center;
}

/* ------------------- NAMES ------------------- */

h1.jumbotron-name {
    background-image: url("../img/parallax-bg1.jpg");
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    //color: #fff;
    position: relative;
    background-attachment: scroll;
}

h1.jumbotron-name:after {
    background: #f00;
    content: attr(data-text);
    left: 50%;
    position: absolute;
    text-shadow: 3px 9px 6px #7e7e7e;
    top: 0;
    z-index: -1;
}

.welp:before {
    position: absolute;
    z-index:1;
    content: attr(data-text);
    text-shadow: 3px 9px 6px #7e7e7e;

}

@media (max-width: 767px) {
    h1.jumbotron-name {
        font-size: 5em;
    }
}

.ie .jumbotron-name {
  color: #3998b0;
  background: none;
}


/* --------------------- & --------------------- */

h1.jumbotron-clip-text {
    font-family: CaviarDreams;
    font-size: 280px;
    font-style: italic;
    font-weight: bold;
    padding:0;
    margin: 0;
    position: relative;
    line-height: 1;
    display: inline-block;
    background-image: url("../img/bg3.png");
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-attachment: fixed;
}

.ie h1.jumbotron-clip-text {
  background: none;
  color: #dbbbca;
}

.firefox h1.jumbotron-clip-text {
  background-attachment: scroll;  
}

.edge h1.jumbotron-clip-text {
  background-attachment: scroll;  
}

/* ----------------- COUNTDOWN ----------------- */

.countdown {
    margin-top: 80px;
    text-shadow: 3px 3px 3px #7e7e7e;
    font-family: 'Merriweather', serif;
    color: #fff;
}
