@font-face {
    font-family: 'CaviarDreams';
    src: url('../fonts/caviardreams-webfont.woff2') format('woff2'),
         url('../fonts/caviardreams-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CaviarDreams';
    src: url('../fonts/caviardreams_bold-webfont.woff2') format('woff2'),
         url('../fonts/caviardreams_bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'CaviarDreams';
    src: url('../fonts/caviardreams_bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/caviardreams_bolditalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'CaviarDreams';
    src: url('../fonts/caviardreams_italic-webfont.woff2') format('woff2'),
         url('../fonts/caviardreams_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}

body {
    background-image: url("../img/bg-big.jpg");
    background-attachment: fixed;
}

h1 {
    text-align: center;
    padding-top: 75px;
    padding-bottom: 20px;
    font-family: CaviarDreams;
    font-weight: bold;
}

.page-content h1 {

}

.section-title-container {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.section-title {
    background-image : linear-gradient(#967cb3 15%, #97c6c9 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: cover;
}

.section-brackets {
    font-size: 2em;
    background-image : url("../img/bg-title.jpg");
    //background-attachment: fixed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.page-content h2 {
    text-align: center;
    padding-top: 20px;
    font-family: CaviarDreams;
    font-weight: bold;
    color: #967cb3;
    font-size: 1.9em;
}

.page-content h3 {
    font-family: CaviarDreams;
    font-style: italic;
    //font-weight: bold;
    //color : #97c6c9;
    color: #6392a9;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

p {
    padding-right: 50px;
    padding-left: 50px;
    font-style: italic;
}

p.block-text {
    padding-bottom: 10px;
}

img {
    width: 100%;
    display: block;
    margin: auto;
}

div.page-content {
    background: white;
    font-family: 'Merriweather', serif;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

ul {
    list-style: none; /* Remove list bullets */
    padding: 0;
    margin: 0;
}

li {
    padding-left: 16px;
}

li:before {
    /*content: "~"; /* Insert content that looks like bullets */
    padding-right: 8px;
    color: blue; /* Or a color you prefer */
}

ul.mylist {
    list-style: none; /* Remove list bullets */
    padding: 0px;
    font-size: 0.9em;
    margin-top: 10px;
    /*margin: 5px;*/
}

ul.mylist li{
    margin-bottom: 5px;
    padding-left: 5px;
}

ul.mylist li:before {
    content: "~"; /* Insert content that looks like bullets */
    padding-right: 8px;
    color: #ba9dae; /* Or a color you prefer */
    font-weight: bold;
}

.col-sm-12 {
    margin-top: 20px;
}

.carousel {
    margin-left: 80px;
    margin-top: 20px;
}

.slide-img {
    object-fit: contain;
    max-height: 400px;
    margin-top: auto;
    margin-bottom: auto;
}

.carousel-inner{
  height: 400px;
  background-color: white;
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}

.navbar {
    font-family: 'CaviarDreams';
    font-weight: bold;
    border-radius: 0px;
    border:0;
    border-bottom: 1px solid #e7e7e7;
    background-color: white;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.navbar-header>a {
  font-size: 1em;
}

.navbar-container {
  padding: 0;
};

.navbar .navbar-right {
    margin: 5px;
}

.nav>li {
    padding-left: 0px;
}

.navbar-default .navbar-nav>li>a {
  border-radius: 25px;
}

h1.h1-jumbotron {
    color : white;
    font-family: CaviarDreams;
    //font-weight: bold;
    text-align: center;
    padding: 40px 40px ;
    z-index: 1;
    margin-top: 50px;
}

span.jumbotron-name {
    background-image: url("../img/parallax-bg1.jpg");
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fff;
    position: relative;
    background-attachment: scroll;
}

span.jumbotron-name:after {
    background: none;
    content: attr(data-text);
    left: 0;
    position: absolute;
    text-shadow: 3px 9px 6px rgba(0, 0, 0, 0.20);
    top: 0;
    z-index: -1;
}

h1.h1-jumbotron-clip {
    text-align: center;
    font-size: 280px;
    padding:0;
    margin: 0;
    position: absolute;
    font-family: CaviarDreams;
    font-style: italic;
}

.jumbotron-name-left {
    text-align: right;
    margin-right: 95px;
}

.jumbotron-name-right {
    text-align: left;
    margin-left: 80px;
    margin-right: 40px;
}

.jumbotron-spacer {
    width: 200px;
}

.jumbotron {
    display: flex;
    flex-direction: column;
    align-items: center;
    //background: rgba(255,255,255,0.85);
    //background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #91a9cb));
    background: -webkit-linear-gradient(rgba(255,255,255,1),rgba(255,255,255,1), rgba(255,255,255,0.8), rgba(255,255,255,0));
    background-size: cover;
    color: #ffffff;
    //text-shadow: 3px 3px 3px #7e7e7e;
    text-align: center;
    margin-bottom: 50px;
    padding-top: 60px;
}

#countdown {
    margin-top: 80px;
    text-shadow: 3px 3px 3px #7e7e7e;
    font-family: 'Merriweather', serif;
}

.clip-text {
    font-size: 6em;
    font-weight: bold;
    line-height: 1;
    position: relative;
    display: inline-block;
    margin: .25em;
    padding: .5em .75em;
    text-align: center;
    /* Color fallback */
    color: #fff;
}

.webkit .clip-text {
    background-attachment: scroll;
    background-image: url("../img/bg3.png");
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-attachment: fixed;
}

.firefox .clip-text {
  background-attachment: scroll;
  background-image: url("../img/bg3.png");
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-attachment: scroll;  
}

.edge .clip-text {
  background-attachment: scroll;
  background-image: url("../img/bg3.png");
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-attachment: scroll;  
}



.ie .clip-text{
    color: red;
}

.footer {
    font-family: CaviarDreams;
    color: white;
    padding-bottom: 50px;
    font-style: italic;
}

.image-left {
    margin-top: 45px;
    margin-left: 45px;
}

.image-right {
    margin-top: 45px;
    margin-right: 45px;
}

.parallax-1 {
    background-image: url("../img/parallax-bg1.jpg");
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-2 {
    background-image: url("../img/parallax-bg2.jpg");
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-3 {
    background-image: url("../img/parallax-bg3.jpg");
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.countdown-number {
    font-weight: bolder;
    font-size: larger;
}

.bottom-fade {
    background: -webkit-linear-gradient(rgba(255,255,255,1),rgba(255,255,255,1), rgba(255,255,255,0.8), rgba(255,255,255,0));
    min-height: 200px;
    margin-bottom: 60px;
}
