body {
    background-image: url("../img/bg-big.jpg");
    background-attachment: fixed;
}

h1 {
    text-align: center;
    font-family: CaviarDreams;
    font-weight: bold;
}

.spacer {
  height: 1.5em;
}

.vertical-align {
    display: flex;
    align-items: center;
}

@media (max-width: 767px) {
    .row.vertical-align {
        display: block; /* Turn off the flexible box layout */
    }
}

section.container {
  padding: 45px;
}

.section-title-container {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.section-title {
    background-image : linear-gradient(#967cb3 15%, #97c6c9 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: cover;
}

.ie .section-title {
  background: none;
  color: #b780a5;
}

.section-brackets {
    font-size: 2em;
    background-image : url("../img/bg-title.jpg");
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 0.5em;
    margin-right: 0.5em;
    background-attachment: scroll;
}

.webkit .section-brackets {
    background-attachment: fixed;
}

.ie .section-brackets {
  background: none;
  color: #c3d9d9;
}

.page-content h2 {
    text-align: center;
    padding-top: 20px;
    font-family: CaviarDreams;
    font-weight: bold;
    color: #967cb3;
    font-size: 1.9em;
}

.page-content h3 {
    font-family: CaviarDreams;
    font-style: italic;
    //font-weight: bold;
    //color : #97c6c9;
    color: #6392a9;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

p {
    padding-right: 50px;
    padding-left: 50px;
    font-style: italic;
}

p.block-text {
    padding-bottom: 10px;
}

img {
    width: 100%;
    display: block;
    margin: auto;
}

div.page-content {
    background: white;
    font-family: 'Merriweather', serif;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

ul {
    list-style: none; /* Remove list bullets */
    padding: 0;
    margin: 0;
}

li {
    padding-left: 16px;
}

li:before {
    /*content: "~"; /* Insert content that looks like bullets */
    padding-right: 8px;
    color: blue; /* Or a color you prefer */
}

ul.mylist {
    list-style: none; /* Remove list bullets */
    padding: 0px;
    font-size: 0.9em;
    margin-top: 10px;
    /*margin: 5px;*/
}

ul.mylist li{
    margin-bottom: 5px;
    padding-left: 5px;
}

ul.mylist li:before {
    content: "~"; /* Insert content that looks like bullets */
    padding-right: 8px;
    color: #ba9dae; /* Or a color you prefer */
    font-weight: bold;
}

/*.col-sm-12 {
    margin-top: 20px;
}*/

.carousel {
    margin-left: 80px;
    margin-top: 20px;
}

.slide-img {
    object-fit: contain;
    max-height: 400px;
    margin-top: auto;
    margin-bottom: auto;
}

.carousel-inner{
  height: 400px;
  background-color: white;
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}

.navbar {
    font-family: 'CaviarDreams';
    font-weight: bold;
    border-radius: 0px;
    border:0;
    border-bottom: 1px solid #e7e7e7;
    background-color: white;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.navbar-header>a {
  font-size: 1em;
}

.navbar-container {
  padding: 0;
};

.navbar .navbar-right {
    margin: 5px;
}

.nav>li {
    padding-left: 0px;
}

.navbar-default .navbar-nav>li>a {
  border-radius: 25px;
}

.footer {
    font-family: CaviarDreams;
    color: white;
    padding-bottom: 50px;
    font-style: italic;
}

/*.image-left {
    margin-top: 45px;
    margin-left: 45px;
}

.image-right {
    margin-top: 45px;
    margin-right: 45px;
}*/

.parallax-1 {
    background-image: url("../img/parallax-bg1.jpg");
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-2 {
    background-image: url("../img/parallax-bg2.jpg");
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-3 {
    background-image: url("../img/parallax-bg3.jpg");
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.countdown-number {
    font-weight: bolder;
    font-size: larger;
}

.bottom-fade {
    background: -webkit-linear-gradient(rgba(255,255,255,1),rgba(255,255,255,1), rgba(255,255,255,0.8), rgba(255,255,255,0));
    min-height: 200px;
    margin-bottom: 60px;
}

.ie .bottom-fade {
  background: url('../img/jumbobg-end.png');
  background-repeat: repeat-x;
}