html {
    position: relative;
    min-height: 100%;
}
body {
    min-height: 2000px;
    padding-top: 70px;
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

section {
    margin: 0px;
}

h1 {
    color: black;
    text-align: center;
    padding-top: 75px;
    padding-bottom: 20px;
}

h2 {
    text-align: center;
    padding-top: 20px;
}

h3 {
    color : black;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

p {
    padding-right: 50px;
    padding-left: 50px;
}

ul {
    list-style: none; /* Remove list bullets */
    padding: 0;
    margin: 0;
}

li {
    padding-left: 16px;
}

li:before {
    /*content: "~"; /* Insert content that looks like bullets */
    padding-right: 8px;
    color: blue; /* Or a color you prefer */
}

ul.mylist {
    list-style: none; /* Remove list bullets */
    padding: 5px;
    /*margin: 5px;*/
}

ul.mylist li:before {
    content: "~"; /* Insert content that looks like bullets */
    padding-right: 8px;
    color: blue; /* Or a color you prefer */
}

ul.info {
    padding-left: 100px;
}

ul.info li{
    padding-bottom: 10px;
}

ul.info li:before {
    content: "-";
    padding-right: 10px;
}

img {
    width: 100%;
    display: block;
    margin: auto;
}

.h1-jumbotron {
    color : white;
    text-align: center;
    padding: 40px 40px ;
    border: 5px dashed;
    border-color: rgba(255,255,255,0.8);
    background: rgba(255,255,255,0.4);
}

.jumbotron {
    display: flex;
    align-items: center;
    background-image: url("bg3.png");
    background-size: cover;
    color: #ffffff;
    height: 300px;
    text-shadow: 3px 3px 3px #7e7e7e;
    text-align: center;
}

.row {
    width: 100%;
}

.footer {
    position: fixed;
    align-items: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    background: rgba(0,255,255,1);
}

.footer-text {
    text-align: center;
    font-weight: bold;
}

.parallax-1 {
    background-image: url("parallax-bg1.jpg");
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-2 {
    background-image: url("parallax-bg2.jpg");
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-3 {
    background-image: url("parallax-bg3.jpg");
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

