.top-space {
    margin-top: 100px;
}

h2.info-title {
    padding-bottom: 20px;
}

h3.info-title {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}

h3.info-subtitle {
    padding-top: 0px;
    padding-bottom: 10px;
    padding-left: 100px
}

ul.info {
    padding-left: 100px;
    padding-right: 120px;
}

ul.info li{
    padding-bottom: 10px;
}

ul.info li:before {
    content: "-";
    padding-right: 10px;
}

div.map {
    margin-top: 50px;
    margin-bottom: 20px;
}