body {
  background-color: #eee;
  height: 100%;
}

h1 {
  margin-top: 0;
}

section.form-signin:last-of-type {
  background-color: white;
  border-radius: 25px;
  padding-bottom: 45px;
  position: absolute;
  top: 25%;
  min-height: 50%;
  max-width: 100%;
}

div.form-container {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  background-color: transparent;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="text"] {
  text-align: center;
  min-width: 100px;
  max-width: 50%;
}

.btn-rounded {
  border-radius: 25px;
  font-family: CaviarDreams;
  font-weight: bold;
  max-width: 50%;
  min-width: 100px;
}

.form-signin p {
    padding-right: 0px;
    padding-left: 0px;
    font-style: italic;

}

.form-fields {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.5em;
  min-width: 50px;
}
