{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Our wedding website</title>

  {% block header_includes %}
  <!-- Bootstrap -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom links -->
  <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css">

  <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
  {% endblock %}

</head>
<body>

  <!-- Fixed navbar -->
  {% block navbar %}
  <div class="navbar-container">

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/#"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
            <li><a href="/#about">{% trans "About Us" %}</a></li>
            <li><a href="/#wedding">{% trans "The Wedding" %}</a></li>
            <li><a href="/#contact">{% trans "Contact" %}</a></li>
            <li><a href="{% url 'practical' %}">{% trans "Practical" %}</a></li>
            <li><a href="#registry">{% trans "Registry" %}</a></li>
            <li><a href="{% url 'faq' %}">{% trans "FAQ" %}</a></li>
            <li><a href="{% url 'rsvp_login' %}"><span class="glyphicon glyphicon-star" aria-hidden="true"></span> {% trans "RSVP" %} <span class="glyphicon glyphicon-star" aria-hidden="true"></span></a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% get_current_language as LANGUAGE_CODE %}
            <li {% if LANGUAGE_CODE == "fr" %}class="active"{% endif %}>
              <form id="lang_fr" action="{% url 'set_language' %}" method="post">{% csrf_token %}
                <input name="next" type="hidden" value="{{ redirect_to }}" />
                <input name="language" type="hidden" value="fr" />
              </form>
              <a href="javascript:document.getElementById('lang_fr').submit();">FR</a>
            </li>
            <li {% if LANGUAGE_CODE == "en" %}class="active"{% endif %}>
              <form id="lang_en" action="{% url 'set_language' %}" method="post">{% csrf_token %}
                <input name="next" type="hidden" value="{{ redirect_to }}" />
                <input name="language" type="hidden" value="en" />
              </form>
              <a href="javascript:document.getElementById('lang_en').submit();">EN</a>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
  </div>
  {% endblock %}

  {% block contents %}{% endblock %}  

  {% block footer %}
  {% endblock %}


  {% block extrajs %}
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="{% static 'vendor/jquery.countdown-2.2.0/jquery.countdown.min.js' %}"></script>

  <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/background-clip-text-polyfill.js' %}"></script>
  {% endblock %}
</body>
</html>