{% extends "base_site.html" %}
{% load static %}
{% load i18n %}

{% block header_includes %}
{{ block.super }}
<link href="{% static 'css/page.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block contents %}
<div class="top-space"></div>
<div class="page-content">

   <section  id = "FAQ" class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">
          <h1>
                <span class="section-title-container">
                <span class="section-brackets">{</span><span class="section-title">{% trans "Frequently Asked Questions" %}</span><span class="section-brackets">}</span>
                </span>
            </h1>
          
          <h3>{% trans "What should I do now?" %}</h3>
          <p><span id="CD"></span>{% blocktrans %}Please RSVP :) ! If you need some more time to decide, that’s fine, but please do send us your answer by <b>mid-July at the latest</b>! If you have questions, please check the list here for an answer, if your question isn’t featured, feel free to <a href="mailto:bastien.et.joan@gmail.com">contact us!</a>{% endblocktrans %} 
          </p>

          <h3>{% trans "What is the CD that came with the invitation ? What do these songs mean ?" %}</h3>
          <p>{% blocktrans %}The CD contains songs that both of us selected to capture some of the important moments of our relationship. The first song by Olafur Arnalds reflects the early times of our budding friendship, and refers to an e-mail exchange 80+(!) messages long, while the last song comes from a hauntingly beautiful video game called Journey that we played together. Each row corresponds roughly to each year of our relationship. Some rows have two songs, and those represent instances where we have had to be apart when one of us went abroad for work. We hope that you’ll enjoy this little musical interlude :) !{% endblocktrans %}</p>

          {% url 'practical' as practical_url %}
          <h3>{% trans "How do I get to the venue(s)?" %}</h3>
          <p>{% blocktrans %}The <a href="{{ practical_url }}">Practical Info</a> page has indications about getting to all the venue sites by car or by public transport, and from abroad.{% endblocktrans %}</p>

          <h3>{% trans "What time should I arrive?" %}</h3>
          <p>{% blocktrans %}Since there are many things happening on the wedding days, we recommend that our guests arrive <b>at least 15 min</b> early to ensure that each event starts on time. This is especially important for the <b><i>Public Ceremony at 14:00 on the 19th of August</i></b>, as the ceremony only lasts 30 min and there are other timeslots booked after us.{% endblocktrans %} </p>

          <h3>{% trans "What time will the ceremony/reception/party end?" %}</h3>
          <p>{% blocktrans %}For end times, please consult the <a href="/#wedding">Wedding Info</a> section.{% endblocktrans %}</p>

          <h3>{% trans "Where should I park?" %}</h3>
          <p>{% blocktrans %}There are parking spaces available near all the venues. For the Public Ceremony venue (Hôtel de Ville d’Ottignies), the parking is free for a duration of 3 hours. For the Reception venue (Cense d’Almez), the parking is entirely free.{% endblocktrans %}</p>

          <h3>{% trans "What should I wear?" %}</h3>
          <p>{% blocktrans %}Formal or cocktail attire is traditional for weddings, but the most important for us is to have a happy relaxed atmosphere, so anything that is dressed-up in which you feel comfortable is perfectly fine! Note that the Belgian weather can be tricky in the summer, so while we cross our fingers for some bright sunny weather, we do recommend to bring a light coat and an umbrella just in case (there will be coat racks at the Reception Venue should they end up unnecessary). For those who are sensitive to cold, layering is a good idea. As for shoes, please consider that there is still a lot of traditional cobblestone at the venues, so high-heeled stilettos might not be the most practical.{% endblocktrans %}</p>

          <h3>{% trans "Are kids welcome?" %}</h3>
          <p>{% blocktrans %}We welcome children to celebrate with us at the Public Ceremony and the Reception, however, we would kindly to ask the parents to take care that their children don’t interfere with the proceedings. The evening party will be quite loud and would not be a suitable event for children to attend.{% endblocktrans %}</p>

          <h3>{% trans "Can I bring a date?" %}</h3>
          <p>{% blocktrans %}Unfortunately, due to cost limitations, we cannot allow for extra guests unless directly specified in your invitation. However, feel free to reach out if you would like to discuss your options!{% endblocktrans %}</p>

          <h3>{% trans "When is the RSVP deadline?" %}</h3>
          <p>{% blocktrans %}We would greatly appreciate it if you could send your RSVP information at least one month before the wedding, by <b>mid-July</b>. For any last minute changes, please <a href="/#contact">contact us</a> as soon as possible so we can make the necessary arrangements.{% endblocktrans %} </p>

          <h3>{% trans "What is the private ceremony?" %}</h3>
          <p>{% blocktrans %}We do not have a religious ceremony since neither of us are religious, but we did want another, more meaningful, wedding ceremony besides the civil Public Ceremony at the city hall. Together with close friends, we have organised our own little ceremony in a more intimate setting. This Private Ceremony takes place on the 18th of August, our seven year anniversary :).{% endblocktrans %}</p>

          <h3>{% trans "Will there be food at the reception?" %} </h3>
          {% url 'practical' as practical_url %}
          <p>{% blocktrans %}The reception will include appetizers and drinks, but not a full meal. Unfortunately, we are not able to invite all our guests to join the sit-down dinner afterwards, but you can find some of our restaurant recommendations on the <a href="{{ practical_url }}">Practical Info</a> page.{% endblocktrans %} </p>

          <h3>{% trans "What kind of food will be served? What if I have a dietary restriction?" %}</h3>
          {% url 'rsvp_login' as rsvp_url %}
          <p>{% blocktrans %}The reception will have various warm and cold appetizers and the sit-down dinner will feature a starter and a main course. After the concert, desserts and cake will be served to all our guests. As for drinks, there is an open bar at the reception, dinner, and party (soft drinks, beers, and wines).</p>
          <p>If you have any dietary restrictions, please mention them on your <a href="{{ rsvp_url }}">RSVP form</a> so we can communicate them to the caterer.{% endblocktrans %} </p>

          <h3>{% trans "Will there be dancing at the party?" %}</h3>
          <p>{% blocktrans %}Yes :)! We are currently compiling a playlist with anything from nostalgia-laden 90s pop music to more obscure Japanese math rock for everyone to rock the dancefloor. Don’t forget to add your own song requests in your <a href="{{ rsvp_url }}">RSVP form</a>!{% endblocktrans %}</p>
          <p>{% blocktrans %}For those who want to enjoy the party with less dancing, we’ll be planning several other activities on the side as well (e.g. video and board games)!{% endblocktrans %}</p>

          <h3>{% trans "Can I take pictures?" %}</h3>
          <p>{% blocktrans %}Feel free to take pictures! But please try to be considerate and not interfere with the professional photographer we hired for the day.{% endblocktrans %} </p>

          <h3>{% trans "Can I make a speech at the wedding?" %}</h3>
          <p>{% blocktrans %}We hope our wedding day will be full of laughter and happy tears, so we would very much appreciate your contribution! However, there are many things that need to happen on schedule, so it would be best if you could contact Bastien’s sister, <a href="mailto:pascale.gorissen@gmail.com">Pascale</a>, in advance so your speech can be coordinated within the available timeslots. Note that while timing is limited during the dinner but there are more opportunities at the party to take the microphone.{% endblocktrans %} </p>


          <h3>{% trans "Is there a gifts registry?" %}</h3>
          <p>{% blocktrans %}Please check the <a href="registry.html">Gifts Registry</a> page!{% endblocktrans %} </p>

          <h3>{% trans "Will last names be changing after the wedding?" %}</h3>
          <p>{% blocktrans %}We will both be keeping our original names after the wedding :){% endblocktrans %}</p>

          <h3>{% trans "I have a question not answered here; how do I contact you?" %}</h3>
          <p>{% blocktrans %}If you have any further questions or comments, please send us an e-mail at: <a href="mailto:bastien.et.joan@gmail.com">bastien.et.joan@gmail.com</a>.{% endblocktrans %}</p>

      </div>
      <div class="col-sm-1"></div>
    </section>

</div>

<div class="bottom-fade"></div>
{% endblock %}
