{% extends "base_site.html" %}
{% load static %}

{% block contents %}
<div class="jumbotron">
    <h1 class="h1-jumbotron-clip clip-text">&</h1>
    <h1 class="h1-jumbotron"><span class="jumbotron-name jumbotron-name-left" data-text="Bastien">Bastien</span><span class="jumbotron-name jumbotron-name-right" data-text="Joan">Joan</span></h1>
        <h3 id="countdown">
          <span id="countdown-days" class="countdown-number"></span>
          days
          <span id="countdown-hours" class="countdown-number"></span>
          hours
          <span id="countdown-minutes" class="countdown-number"></span>
          minutes
          <span id="countdown-seconds" class="countdown-number"></span>
          seconds
      </h3>   
</div>

<div class="page-content">

    <section class="row">
        <div class="col-sm-3">
            <div class="image-left parallax-1">
                <img src="{% static 'img/origami-1.png' %}">
            </div> 
        </div>
        <div id="about" class="col-sm-9">
            <h1>
                <span class="section-title-container">
                <span class="section-brackets">{</span><span class="section-title">About us</span><span class="section-brackets">}</span>
                </span>
            </h1>
            <p>They say you meet the most important people in university but for us, even though we’d been orbiting each other through our circles of friends for some time, it was only towards the end of our student years that we truly met. What started as animated discussions between new acquaintances soon developed into 80 messages long email conversations and impromptu visits… And just when friends and family began questioning our relationship through knowing smiles, we finally confirmed their (and our own) suspicions in August 2010.</p>
            <p>Since then, we have lived many memorable moments together, here they are summarised in arbitrary yet meaningful units :</p>
            <div class="col-sm-5">
                insert images here
            </div>
            <div class="col-sm-7">
                <ul class="mylist">
                    <li>2 theses</li>
                    <li>2 cats</li>
                    <li>2 apartments</li>
                    <li>15 months apart</li>
                    <li>1 new bookcase</li>
                    <li>9 countries visited</li>
                    <li>1 very slow turtle</li>
                    <li>5 Magic the Gathering pre-release game events</li>
                    <li>1 freak hurricane</li>
                    <li>A ton of post-rock concerts</li>
                    <li>5 New Year’s cheese fondues</li>
                    <li>Many weekends spent cracking video games</li>
                    <li>1 alarming message about hospitals</li>
                    <li>A million (and counting) decorative birbs</li>
                    <li>Too many stupid nicknames to count</li>
                    <li>A (un)reasonable number of newly acquired musical instruments</li>
                    <li>A thousand evenings wondering what to eat for dinner</li>
                    <li> </li>
                    <li>1 very important question</li>
                </ul>
            </div>
            <p>...and in August 2017, we will celebrate 7 years of joy and happiness and of all the future years to come :).</p>
        </div>
    </section>

    <section class="row">
        <div id="wedding" class="col-sm-9">
            <h1>
                <span class="section-title-container">
                <span class="section-brackets">{</span><span class="section-title">Wedding Info</span><span class="section-brackets">}</span>
                </span>
            </h1>
            <center>
            <p>For more information on how to get to the venue sites or travelling from abroad, please see the <a href="practical.html">Practical Info</a> page.</p>
            <p>Check the <a href="FAQ.html">FAQ</a> if you have any other questions!</p>

            <h2>Friday 18 August 2017</h2>
            <h3>Private wedding ceremony</h3>
            <p>An intimate personal ceremony</p>
            <p>19:00</p>
            <p>Chapelle de Profondsart</p>
            <p>Rue de Grandsart 13, 1300 Limal</p>

            <h2>Saturday 19 August 2017</h2>
            <h3>Public wedding ceremony</h3>
            <p>The civil marriage ceremony involving all the legal stuff</p>
            <p>14:00 - 14:30</p>
            <p>Hôtel de Ville d’Ottignies</p>
            <p>Avenue des Combattants 35, 1340 Ottignies-Louvain-la-Neuve</p>

            <h3>Reception</h3>
            <p>Drinks, snacks, and congratulations</p>
            <p>15:00 - 17:00</p>
            <p>Cense d’Almez</p>
            <p>Rue d’Almez 5, 1325 Corroy-le-Grand</p>

            <h3>Dinner</h3>
            <p>Sit-down meal and emotional speeches</p>
            <p>18:00 - 20h30</p>
            <p>Cense d’Almez</p>

            <h3>Party</h3>
            <p>A live concert of our favourite songs followed by dancing all night!</p>
            <p>21:00 - 03:00</p>
            <p>Cense d’Almez</p>
            </center>
        </div>
        <div class="col-sm-3">
            <div class="image-right parallax-2">
                <img src="{% static 'img/origami-2.png' %}">
            </div> 
        </div>
    </section>

    <section id="contact" class="row">
        <div class="col-sm-3">
            <div class="image-left parallax-3">
                <img src="{% static 'img/origami-3.png' %}">
            </div> 
        </div>
        <div  class="col-sm-9">
            <h1>
                <span class="section-title-container">
                <span class="section-brackets">{</span><span class="section-title">Contact us</span><span class="section-brackets">}</span>
                </span>
            </h1>
            <p>Questions? Please have a look at the <a href="FAQ.html">FAQ</a> first!</p>
            <p>If you cannot find your answer, you can send us an e-mail at : bastien.et.joan {at} gmail {dot} com</p>
            
        </div>

    </section>



</div>
    <div class="bottom-fade"></div>
{% endblock %}


{% block extrajs %}
{{ block.super }}
<script type="text/javascript">
  $("#countdown").countdown("2017/08/19 14:00:00", function(event) {
    $(this).children("#countdown-days").text(event.strftime('%D'));
    $(this).children("#countdown-hours").text(event.strftime('%H'));
    $(this).children("#countdown-minutes").text(event.strftime('%M'));
    $(this).children("#countdown-seconds").text(event.strftime('%S'));
});
</script>
{% endblock %}
</body>
</html>