{% extends "base_site.html" %}
{% load static %}
{% load i18n %}

{% block header_includes %}
{{ block.super }}
<link href="{% static 'css/page.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/rsvp.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block contents %}
<div class="top-space"></div>
<div class="page-content">
  <section class="container">
    <h1>
      <span class="section-title-container">
      <span class="section-brackets">{</span><span class="section-title">{% trans "RSVP" %}</span><span class="section-brackets">}</span>
      </span>
    </h1>
    <form class="form-rsvp" action="." method="post">
      {% csrf_token %}
      <div class="form-content form-rsvp">

        <p>
          {% blocktrans %}Please tell us which part of the festivities you will be attending. Note that you can bookmark this page and return directly to this RSVP form !{% endblocktrans %}
        </p>
        <p>
          {% blocktrans %}If you’ve changed your mind, you can come back to this page until <b>July 15st</b> to change your answers. After this time, your answers will be locked. Should you have any last-minute changes to your RSVP after this deadline, please send us an e-mail at <a href="mailto:bastien.et.joan@gmail.com">bastien.et.joan@gmail.com</a>.{% endblocktrans %}
        </p>

         <p>
          {% blocktrans %}Please arrive at least <b>15 min</b> before the starting time of each event to make sure there are no delays !{% endblocktrans %}
        </p>

        <table>
          <thead>
            <th></th>
            <th>{% trans "Private ceremony <br>(18/08 - 19:00)" %}</th>
            <th>{% trans "Public ceremony <br>(19/08 - 14:00-14:30)" %}</th>
            <th>{% trans "Reception <br>(19/08 - 15:00-17:00)" %}</th>
            <th>{% trans "Dinner <br>(19/08 - 18:00-20:30)" %}</th>
            <th>{% trans "Party <br>(19/08 - 21:00-03:00)" %}</th>
          </thead>
          <tbody>    
            {% for guest in guests %}

            <tr>
              <td>
                {{ guest.first_name }} {{ guest.last_name }}
              </td>
              {% with forloop.counter as i %}
              {% for guest_form in guest_forms %}
              {% if i == forloop.counter %}
              <td>{{ guest_form.coming_private_ceremony }}
                <label for='{{ guest_form.coming_private_ceremony.id_for_label }}'></label>
              </td>
              <td>{{ guest_form.coming_public_ceremony }}
                <label for='{{ guest_form.coming_public_ceremony.id_for_label }}'></label>
              </td>
              <td>{{ guest_form.coming_reception }}
                <label for='{{ guest_form.coming_reception.id_for_label }}'></label>
              </td>
              <td>{{ guest_form.coming_dinner }}
                <label for='{{ guest_form.coming_dinner.id_for_label }}'></label>
              </td>
              <td>{{ guest_form.coming_party }}
                <label for='{{ guest_form.coming_party.id_for_label }}'></label>
              </td>
              {% endif %}
              {% endfor %}
              {% endwith %}

            </tr>
            {% endfor %}
          </tbody>
        </table>

        <div class="comments-field">
          <p>
            {% blocktrans %}How many children menus should we include for the dinner?{% endblocktrans %}
          </p>

          <div>
            {{ children_form.children_menus }}    
          </div>
        </div>

        <div class="comments-field">
          <p>
            {% blocktrans %}Are there any dietary restriction we should take into account?{% endblocktrans %}
          </p>

          <div>
            {{ comments_form.dietary_restrictions }}
          </div>
        </div>

        <div class="comments-field">
          <p>
            {% blocktrans %}Any music you would like to request for the party?{% endblocktrans %}
          </p>

          <div>
            {{ comments_form.music_request }}
          </div>
        </div>

        <div class="comments-field">
          <p>
            {% blocktrans %}Anything else you want to tell us?{% endblocktrans %}
          </p>

          <div>
            {{ comments_form.comments }}
          </div>
        </div>

      </div>
      <center>
      <button class="btn btn-lg btn-primary btn-block btn-rounded" type="submit">{% trans "Submit" %}</button>
      </center>
    </form>
  </section>
</div>
<div class="bottom-fade"></div>

{% endblock %}
