{% extends "base_site.html" %}
{% load static %}

{% block header_includes %}
{{ block.super }}
<link href="{% static 'css/signin.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block contents %}
    <div class="page-content form-container">
      <form class="form-signin" action="/rsvp/" method="post">
        {% csrf_token %}
        <h2 class="form-signin-heading">{% trans "Reply to invitation" %}</h2>
        <center>
        <p>{% blocktrans %}The invitation you received had a code written on it. Please enter it below to access the RSVP form.{% endblocktrans %}</p>
          <div class="form-fields">
            {{ form.code }}
          </div>
        <button class="btn btn-lg btn-primary btn-block btn-rounded" type="submit">{% trans "Submit" %}</button>
        </center>
      </form>
    </div> <!-- /container -->
{% endblock %}

{% block footer %}{% endblock %}